@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1478439698241'); /* IE9*/
  src: url('../font/iconfont.eot?t=1478439698241#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1478439698241') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1478439698241') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1478439698241#iconfont') format('svg'); /* iOS 4.1- */
}

.font-icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-sousuo:before { content: "\e604"; }

.font-icon-dianpu:before { content: "\e61b"; }

.font-icon-meun:before { content: "\e648"; }

.font-icon-dingwei:before { content: "\e640"; }

.font-icon-uptop:before { content: "\e6e7"; }

.font-icon-119:before { content: "\e638"; }

.font-icon-fanhuidingbu:before { content: "\e719"; }

.font-icon-sousuo1:before { content: "\e61d"; }

.font-icon-cuowu:before { content: "\e641"; }

.font-icon-xiala:before { content: "\e65c"; }

.font-icon-xiangzuojiantou:before { content: "\e660"; }

.font-icon-zhengque:before { content: "\e664"; }

.font-icon-shouyeshouye:before { content: "\e601"; }

.font-icon-geren-copy:before { content: "\e602"; }

.font-icon-zhenghe69:before { content: "\e639"; }

.font-icon-jimi:before { content: "\e606"; }

.font-icon-appxiazai:before { content: "\e646"; }

.font-icon-tupiantubiao:before { content: "\e642"; }

.font-icon-gouwuche:before { content: "\e501"; }

.font-icon-lianxikefu:before { content: "\e685"; }

